<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <typeAliases>
        <typeAlias alias="Notification" type="py.com.solar.commonsapi.entity.NotificationEntity"/>
        <typeAlias alias="Region" type="py.com.solar.commonsapi.entity.RegionEntity"/>
        <typeAlias alias="Message" type="py.com.solar.commonsapi.entity.MessageEntity"/>
        <typeAlias alias="Office" type="py.com.solar.commonsapi.entity.OfficeEntity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/CommonRepository.xml"/>
        <mapper resource="mapper/ServiceRepository.xml"/>
    </mappers>
</configuration>